

.input-field, select {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 15px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.table th {
  background: #f1f2f6;
  padding: 10px;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.modal {
    margin: "auto";
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  border :4px solid #ccc;
  border-radius: 12px;
  position: relative;
}

.close-btn {
  padding: 8px 15px;
  background: #888;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}
.delete3 {
 background: #145ca8;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  margin-right: 5px;
  
}