
.title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
  color: #370252;
}
.actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 15px;
}

.btn {
  padding: 10px 18px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}
.delete1 {
 background: #67064a;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  margin-right: 5px;
  
}
.delete1:hover {
  background-color: #a71d2a;
}
.actions button {
  padding: 8px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: transform 0.2s;
}
.edit-btn {
  background: #8e0505;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  margin-right: 5px;
}