.page {
  width: 86%;
  margin-top: -91px;
  padding: 10px;
 position: fixed;
  border-color: rgb(248, 249, 250);
}
.card {
  padding: 40px;
  margin-top: 5px;  width: 100%;
  border-radius: 32px;
  box-shadow: 0 4px 14px rgba(246, 245, 245, 0.1);
  border-color: rgb(248, 249, 250);
}
* {
  font-family: "Inter", sans-serif;
}
.title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}
input, select {
  width: 100% !important;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
  margin-top: 5px;
  transition: 0.3s;
}
label {
   color: #080101;
  margin-right: 20px;
}
.btn.primary {
  background: #026d83;
  color: white;
}
.btn.danger {
  background: #b87b01;
  color: white;
}
