.stock-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  font-family: Arial;
}
.buttonStyle {
  border: "1px solid #ddd";
  padding : "5px 10px";
  cursor: "pointer";
};
.add-stock-btn {
  background: #2563eb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  margin-bottom: 15px;
  cursor: pointer;
}

.stock-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.stock-table th {
  background: #1f2937;
  color: white;
   text-align: center;
  padding: 10px;
}

.stock-table td {
  padding: 10px;
   text-align: center;
  border-bottom: 1px solid #e5e7eb;
}

.edit-btn {
  background: #e12c90;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  margin-right: 5px;
}
.edit1-btn {
  background: #0599b7;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  margin-right: 5px;
}

.delete1-btn {
  background: #67064a;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 6px;
  margin-right: 5px;
}
.confirm-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.confirm-modal-box {
  background: white;
  padding: 25px 35px;
  border-radius: 10px;
  min-width: 300px;
  max-width: 400px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  text-align: center;
  animation: scaleIn 0.3s ease-out;
}

@keyframes scaleIn {
  from { transform: scale(0.5); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.btn {
  padding: 8px 18px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-confirm {
  background-color: #4caf50;
  color: white;
}

.btn-confirm:hover {
  background-color: #45a049;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
}

.btn-cancel:hover {
  background-color: #d32f2f;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 350px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.modal-content input,
.modal-content select {
  width: 100%;
  padding: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 6px;
  margin-bottom: 12px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 15px;
}
.save-btn {
  background: #10b981;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
}

.close-btn {
  background: #072e65;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
}
.btn {
  padding: 10px 18px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}

