.page {
  padding: 105px;
  min-height: 180vh;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #69b1de, #f68fd7);
  color: #0b0208;
  transition: 0.3s;
  
}
.pi{
  background: linear-gradient(135deg, #032945, #b04bff);
}
.page12 {
  top: 0;
  left: 0;
  width: 100%;
  
  height: 100vh;
  overflow: hidden;
}.route-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 0;
  transition: opacity 400ms ease;
}

.fade-exit {
  opacity: 0;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 600ms ease;
}
